/* <Variables> */
    :root{
        --color:red;
    }

    body{
        background: var(--color);
        margin: 10px;
    }
/* <FIN> */


/* <> */
/* <FIN> */


/* <> */
/* <FIN> */


/* <> */
/* <FIN> */


/* <> */
/* <FIN> */



/* <> */
/* <FIN> */



/* <> */
/* <FIN> */


/* <> */
/* <FIN> */


/* <> */
/* <FIN> */



/* <> */
/* <FIN> */


/* <> */
/* <FIN> */


/* <> */
/* <FIN> */