/*RESPONSIVE*/
Class name  Type of device              Resolution          Container width     Column width
col-xs-*    Phones                      Less than 768px     Auto                Auto
col-sm-*    Tablets                     Larger than 768px   750px               60px
col-md-*    Desktops                    Larger than 992px   970px               1170px
col-lg-*    High-resolution desktops    Larger than 1200px  78px                95px
/*FIN RESPONSIVE*/


/* TABLE */
    Bordes:
        table table-bordered
    Resaltar Celda con colores
        table table-striped
    Resaltar celda
        table table-hover
/*FIN TABLE*/


/*BOTONES*/
    btn btn-default btn-xs
    btn btn-default btn-sm
    btn btn-default
    btn btn-default btn-lg
/*FIN BOTONES*/


/**/
/*FIN */


/**/
/*FIN */


/**/
/*FIN */


/**/
/*FIN */


/**/
/*FIN */


/**/
/*FIN */